.Homelist {
    flex-basis: 70%;
    .Homecard {
        align-items: center;
        background-color: #eeeeee;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5em;
        position: relative;
        justify-content: space-between;

        &__photo {
            border-radius: 4px;
            flex-basis: 40%;
            padding: 11px;
            box-sizing: border-box;
            img {
                display: block;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                width: 100%;
            }
        }

        .Homecard__info {
            display: flex;
            flex-basis: 60%;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .Homecard__title {
                box-sizing: border-box;
                flex-basis: 70%;
                font-size: 18px;
                padding: 1em;
            }

            .Homecard__price {
                font-family: $font-title;
                flex-basis: 30%;
                font-size: 36px;
                font-weight: bold;
                text-align: center;
                letter-spacing: 1px;
            }

            .Homecard__buttons {
                display: flex;
                flex-basis: 100%;
                justify-content: flex-end;
                align-content: flex-end;
            }
        }

        .primaryBtn {
            background-color: white;
            border-radius: 4px;
            padding: 1.35em 2.35em;
            margin: 1em;
            transition: .25s background-color ease;
            border: 0;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
                background-color: $spotaroom-color;
            }
        }

    }
}