@media screen and (max-width: 540px) {
    .Search {
        flex-wrap: wrap;
    }

    .Sidebar {
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__selector {
            width: 100%;
        }
    }
    
    .Sidebar,
    .Homelist {
        flex-basis: 100%;
    }
}