$loader-size: 60px;
$loader-primary-color: #ffc747;
$loader-secondary-color: #f3f3f3;

$spotaroom-color: #ffc747;
$spotaroom-color-two: #000000;

$font-title: 'Luckiest Guy', cursive;
$font-text: 'Open Sans';

$text-big: 18px;
$text-med: 16px;
$text-sm: 14px;