h1, h2, h3, h4, h5, h6 {
  font-family: "Luckiest Guy", cursive;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Luckiest Guy", cursive; }

body {
  margin: 0;
  font-family: "Open Sans"; }

.Loader__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.Loader__wrapper .Loader__icon {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ffc747;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Navbar {
  background-color: #ffc747;
  width: 100%;
  margin: 0em auto 2em;
  padding: 1em; }

.Search {
  width: 90%;
  margin: 0 auto;
  display: flex; }

.Sidebar {
  flex-basis: 20%; }

.Homelist {
  flex-basis: 80%; }

.Homelist .Homecard {
  align-items: center;
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  margin-bottom: 1.5em;
  position: relative;
  justify-content: space-between; }

.Homelist .Homecard__title {
  box-sizing: border-box;
  flex-basis: 40%;
  font-size: 18px;
  padding: 1em; }

.Homelist .Homecard__photo {
  border-radius: 4px;
  flex-basis: 40%; }

.Homelist .Homecard__photo img {
  display: block;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%; }

.Homelist .Homecard__price {
  font-size: 24px;
  font-weight: bold;
  flex-basis: 20%; }

.Homelist .Homecard__divider {
  flex-wrap: wrap; }

@media screen and (max-width: 540px) {
  .Search {
    flex-wrap: wrap; }
  .Sidebar {
    justify-content: center;
    display: flex;
    align-items: center; }
  .Sidebar,
  .Homelist {
    flex-basis: 100%; } }
