h1, h2, h3, h4, h5, h6 {
  font-family: "Luckiest Guy", cursive;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Luckiest Guy", cursive; }

body {
  margin: 0;
  font-family: "Open Sans"; }

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; }

.Loader__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.Loader__wrapper .Loader__icon {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ffc747;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Navbar {
  align-items: center;
  background-color: #ffc747;
  box-sizing: border-box;
  display: flex;
  margin: 0em auto 2em;
  padding: 2em;
  justify-content: center;
  width: 100%; }

.Navbar__logo {
  flex-basis: 50%; }

.Navbar__links {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around; }

.Navbar__links li {
  list-style-type: none; }

.Navbar__links-mobile {
  display: none; }

.Navbar__links-mobile .hamburger {
  position: relative; }

.Navbar__links-mobile .hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 4px; }

.Search {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.Sidebar {
  flex-basis: 25%; }

.Sidebar__downloader {
  width: 100%;
  margin: 0 0 1em;
  background-color: #a5eca5;
  border: 0;
  border-radius: 4px;
  padding: 1em;
  transition: .35s background-color ease;
  font-size: 14px; }

.Sidebar__downloader:hover {
  cursor: pointer;
  background-color: #35a735; }

.Homelist {
  flex-basis: 70%; }

.Homelist .Homecard {
  align-items: center;
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  position: relative;
  justify-content: space-between; }

.Homelist .Homecard__photo {
  border-radius: 4px;
  flex-basis: 40%;
  padding: 11px;
  box-sizing: border-box; }

.Homelist .Homecard__photo img {
  display: block;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%; }

.Homelist .Homecard .Homecard__info {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.Homelist .Homecard .Homecard__info .Homecard__title {
  box-sizing: border-box;
  flex-basis: 70%;
  font-size: 16px;
  padding: 1em; }

.Homelist .Homecard .Homecard__info .Homecard__price {
  font-family: "Luckiest Guy", cursive;
  flex-basis: 30%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px; }

.Homelist .Homecard .Homecard__info .Homecard__buttons {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  align-content: flex-end; }

.Homelist .Homecard .primaryBtn {
  background-color: white;
  border-radius: 4px;
  padding: 1.35em 2.35em;
  margin: 1em;
  transition: .25s background-color ease; }

.Homelist .Homecard .primaryBtn:hover {
  cursor: pointer;
  background-color: #ffc747; }

@media screen and (max-width: 540px) {
  .Loader__wrapper {
    background-color: rgba(0, 0, 0, 0.3); }
  .Search {
    flex-wrap: wrap; }
  .Sidebar {
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .Sidebar__selector {
    width: 100%; }
  .Sidebar,
  .Homelist {
    flex-basis: 100%; }
  .Sidebar .Homecard,
  .Homelist .Homecard {
    flex-wrap: wrap; }
  .Sidebar .Homecard .Homecard__photo,
  .Homelist .Homecard .Homecard__photo {
    flex-basis: 100%;
    padding: 0; }
  .Sidebar .Homecard .Homecard__photo img,
  .Homelist .Homecard .Homecard__photo img {
    border-radius: 4px; }
  .Sidebar .Homecard .Homecard__info,
  .Homelist .Homecard .Homecard__info {
    flex-basis: 100%; }
  .Sidebar .Homecard .Homecard__info .Homecard__title,
  .Homelist .Homecard .Homecard__info .Homecard__title {
    flex-basis: 70%;
    font-size: 18px; }
  .Sidebar .Homecard .Homecard__info .Homecard__price,
  .Homelist .Homecard .Homecard__info .Homecard__price {
    flex-basis: 30%;
    font-size: 36px; }
  .Sidebar .Homecard .Homecard__info .Homecard__buttons,
  .Homelist .Homecard .Homecard__info .Homecard__buttons {
    justify-content: center;
    align-content: center; }
  .Sidebar .Homecard .Homecard__info .Homecard__buttons .primaryBtn,
  .Homelist .Homecard .Homecard__info .Homecard__buttons .primaryBtn {
    margin-right: 0;
    font-size: 14px; }
  .Navbar {
    align-items: center; }
  .Navbar__logo {
    flex-basis: 100%; }
  .Navbar__links {
    display: none; }
  .Navbar__links-mobile {
    display: block; } }
