h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0em;
  margin-block-end: 0em; }

body {
  font-family: 'Open Sans', sans-serif; }

.Loader__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.Loader__wrapper .Loader__icon {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ffc747;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Navbar {
  background-color: #ffc747;
  width: 90%;
  margin: 2em auto;
  padding: 1em;
  border-radius: 8px;
  box-sizing: border-box; }

.Search {
  width: 90%;
  margin: 0 auto;
  display: flex; }

.Sidebar {
  flex-basis: 33%; }

.Home__List {
  flex-basis: 66%; }

.Home__List .Home__Card {
  background-color: #eeeeee;
  padding: 2.4em;
  box-sizing: border-box;
  margin-bottom: 1.5em; }
